@import url('https://fonts.google.com/specimen/Open+Sans');

body{
    margin-left: 150px;
    margin-top: 50px;
    margin-right: 150px;
    font-family: 'Open Sans', sans-serif;
}

body > header:first-of-type{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 26px;
    border-bottom: 3px rgb(52, 177, 196) solid;
    width: 8%;
    padding: 0;
    height: 39px;
    margin-left: 20px;
}

main > p:first-of-type{
    color: #7f7f7f;
    margin-left: 20px;
}

.container{
    display: flex;
}

article{
    margin: 20px;
    text-align: center;
    width: 33%;
    border: 1px solid rgb(250, 250, 250);
    font-size: 12px;
    color: grey;
}

article p{
    border: 1px solid rgb(250, 250, 250);
    margin: 0;
    padding: 20px;
    height: 10px;
}

.card-header{
    background: rgb(51, 51, 51);
    margin: 0;
    color: white;
    border: none;
    font-size: 20px;
    height: 10px;
    padding-top: 10px;
}

.card-header-pro{
    background: rgb(25, 150, 169);
    color: white;
    border: none;
    font-size: 20px;
    height: 10px;
    padding-top: 10px;
}

.card-price{
    background: rgb(246, 246, 246);
    font-size: 24px;
    border-bottom: none;
    color: black;
    font-weight: 600;
    height: auto;
}

.button-container{
    background: rgb(0, 140, 186);
    padding: 0;
    width: 110px;
    border: none;
    margin-top: 9px;
    height: 25px;
    text-align: center;
    color: white;
    font-size: 14px;
    padding-top: 8px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}

section{
    border: 1px solid rgb(250, 250, 250);
    height: 60px;
}

