@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

p {
    width: 100px;
    height: 21px;
    padding: 10px;
    border-radius: 5px;
}

p:first-child {
    background: rgb(0, 128, 0);
}

p:nth-child(2){
    background: rgb(255, 140, 0);
}
