@import url('car-listings.css');
@import url('footer.css');
@import url('listing-details.css');
@import url('login-register.css');
@import url('my-listings.css');
@import url('navigation.css');
@import url('notifications.css');
@import url('welcome.css');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
}