<div id="login">
    <form action="#/login" method="post">
        <div class="container">
            <h1>Login</h1>
            <p>Please enter your credentials.</p>
            <hr></hr>
            <p>Username</p>
            <input placeholder="Enter Username" name="username_login" type="text"></input>
            <p>Password</p>
            <input type="password" placeholder="Enter Password" name="password_login"></input>
            <button type="submit" id="buttonLoginUser" class="registerbtn">Login</button>
        </div>
        <div class="container signin">
            <p>Dont have an account?
                <a href="#/register">Sign up</a>.
            </p>
        </div>
    </form>
</div>