<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wiki</title>
    <link rel="stylesheet" href="/css/site.css">
</head>
<body>
<div>
    <aside>
        <div class="center">
            <img class="logo" src="img/logo.png" alt="logo">
        </div>
        <nav>
            <a href="/">Main Page</a>
            <a href="/articles/latest">Latest Article</a>
            <a href="/articles/allArticles">All Articles</a>
            <form action="/articles/search" method="GET">
                <input type="text" name="searchBox">
                <input type="submit" value="Search">
            </form>
    {{#if currentUser}}
            <a href="/articles/create">Create New Article</a>
    {{/if}}
        </nav>
    </aside>
<div id="container">
<header>
{{#if currentUser}}
        <span>Welcome, {{currentUser.email}}</span>
    <form id="logout-form" action="/users/logout" method="POST"></form>
    <a href="javascript:document.getElementById('logout-form').submit()">[Logout]</a>
{{else}}
    <li><a href="/users/register">Register</a></li>
    <li><a href="/users/login">Login</a></li>
{{/if}}
    </header>
        <main>
            {{{body}}}
        <footer>
            SoftUni Wiki &copy; 2018
        </footer>
        </main>
    </div>
    </div>
    </body>
</html>