@import url('https://fonts.google.com/specimen/Open+Sans');

body{
    margin: 20px;
    margin-left: 50px;
    background: #eee;
    font-family: Open Sans, sans-serif;
}

main{
    display: flex;
    background: white;
    width: 80vw;
    height: 78vh;
    box-shadow: 10px 10px 24px -11px rgba(0,0,0,0.75);
}

main > section:nth-child(1){
    width: 53%;
    background-image: url('images/cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.layer {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    color: white;
}

main > section:nth-child(2){
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    color: #aaaaaa;
    font-size: 20px;
    padding-bottom: 30px;
    width: 38%;
}

.buttons{
    display: flex;
    flex-direction: row;
}

.aside{
    text-align: center;
    font-size: 30px;
}

.aside-header{
    text-align: center;
    font-size: 34px;
}

section > header{
    font-weight: bold;
    padding: 20px 13px 118px 26px;
}

.icons{
    text-align: center;
    margin-top: 170px;
}

i{
    margin: 5px;
}

main > section:nth-child(2) > input{
    border: none;
    border-bottom: 1px grey solid;
    font-size: 20px;
    color: #a6a6a6;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 7px;
}

main > section:nth-child(2) > label{
    border: none;
    padding-top: 30px;
    text-transform: uppercase;
    font-size: 16px;
    color: lightgrey;
}

.buttons{
    margin-top: 45px;
}

.buttons a{
    padding-top: 31px;
    padding-left: 20px;
    color: #b1b1b1;
    font-size: 14px;
}

.buttons p{
    background: black;
    padding: 10px 25px 10px 25px;
    color: white;
    border-radius: 25px;
}

#password, #repeat-password{
    -webkit-text-security: square;
}