<h1>Welcome to SoftUni Wiki!</h1>
    <div class="spacer">
        <h2>{{title}}
            <div class="controls">
                <a href="/articles/edit/{{_id}}">[edit]</a>
                [history]
            </div>
        </h2>
        <article>
            {{content}}
        </article>
    </div>
